#Stack rasa_312

NINGUNA DE ESTAS ES REQUERIDA

# Actions
ACTIONS_IMAGE=rasa/rasa-sdk:2.1.2
ACTIONS_CMS_API_URL=http://10.30.0.20:38055
ACTIONS_DB_API_URL=http://10.30.0.20:38055
ACTIONS_EMAIL_API_URL=https://api.mailgun.net/v3/mitrol.ar/messages
ACTIONS_EMAIL_FROM=Aconcagua Bank <aconcagua_bank@mitrol.ar>
ACTIONS_EMAIL_API_KEY=...
VOICEBOT_API_URL=http://
DEFAULT_TASK_ID=999



# FileBrowser
FILEBROWSER_IMAGE=hurlenko/filebrowser

# RASA
RASA_AUGMENTATION_FACTOR=50
RASA_IMAGE=botfront/rasa-for-botfront:v2.3.3-bf.3
MONGO_URL=mongodb://mongo:27017/rasa
